body{
    background-color: white;
}
.navbar{
    height: 25px;
}
.btn{
    font-size: 10px;
    margin-left: 142px;
    color: white;
}
.btn:hover{
    color: white
}
i{
    color: white;
}
.btn2{
    margin: 0;
}
.btnh{
    color: aqua;
    font-weight: bold;
    font-size: 12px;
    margin-left: 185px;
    margin-right: 25px;
}
.search,.newcr{
    color: black;
    border-radius: 100%;
    padding: 5px;
    
    
}
.btn3{
    color: black;
    margin-left: 0;
    font-weight: bold;
    font-size: 12px;
    margin-right: 25px;

}
a{
    color: aqua;
}
.rightsection{
    margin-left: 260px;
}
.nav1{
    background-color: #003333;
}
.nav2{
    background-color: aliceblue;
    height: 50px;
    padding-top: 20px;
    padding-left: 170px;
}
p{
    
    font-size: 40px;
    font-weight: bold;
    
}
.slid{
    
    margin: 50px;
    margin-top: 17%;
    height: 30px;
    width: 30px;
    background-color: black;
}
.slid:hover{
    background-color: #66ffb3;
}
.blur{
    filter: blur(7px);
}
.travaltxt{
    position: absolute;
    top: 170px;
    
}
.txt,.txt2{
    color: #000099;
    font-weight: bold;
    margin-left: 450px;
}
.txt2{
    margin-left: 410px;  
}
.bttn{
    background-color:  #66ffc2;
    color: #000099;
    font-weight: bold;
    font-size: 13px;
    width: 150px;
    height: 30px;
    margin-left: 500px;
    border: none;
}
.bttn1{
    background-color: transparent;
    border: 3px solid ;
    color: white;
    border-color: white;
    margin-left: 40px;
    width: 120px;
    
}
.nav3{
    background-color: #131339;
    height: 60px;
    padding-top: 20px;
    padding-left: 170px;
}
.endtxt{
    color: white;
    font-size: 20px;
    margin-right: 20px;
}
.txt5{
    font-size: 23px;
    font-weight: bold;  
}
.hif{
    color: white;
    margin-bottom: 33px;
    font-size: 60px;
    
}
.nav3txt{
    font-size: 15px;
    color: white;
    margin-left: 40px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.searchicn {
    position: relative;
    display: inline-block;
  }

  .nav3inp {
     width: 250px;
     margin-bottom: 11px;
  }
  .destination{
    width: 250px;
  }

  .icn {
    position: absolute;
    top: 39%;
    right: 5px; 
    transform: translateY(-50%);
    color: #333; 
    opacity: 0.7;
  }
  .date{
    width: 250px;
    
  }
  .searchbtn{
    background-color: aqua;
    font-weight: bold;
    margin-left: 20px;
    width: 90px;
    height: 33px;
    margin-bottom: 11px;
  }
  .spcl{
    margin-left: 550px;
    margin-top: 50px;
    font-weight: bold;
  }
  .best24{
    font-size: 20px;
    margin-left: 450px;
  }
  .rounded:hover{
    border: 3px solid green;
    transform: scale(1.1);
  }

 .imgcontant{
    display: inline-block;
    margin: 4.73px;
    text-align: center; 
  }

  .rounded {
    width: 176px;
    height: 170px;
    border-radius: 10px; 
    margin-left: 64px;
  }
  .newbtn{
    margin: 0;
    height: 30px;
    width: 178px;
    margin-left: 64px;
    background-color: #003333;
  }
  .spicalofr{
    
    height: 350px;
  }
  .div6{
     border: 3px solid;
     overflow: scroll;
     font-weight: bold;
     width: 300px;
     height: 200px;
  }
  .holidayback{
    position: absolute;
    height: 350px;
    width: 100%; 
    opacity: 84%;
    
  }
  .hole{
    position: absolute;
    font-weight: bold;
    color: white;
    margin-left: 540px;
    margin-top: 40px;
  }
  .hol{
    position: absolute;
    font-size: 20px;
    color: white;
    margin-left: 33%;
    margin-top: 80px ;
   
    
  }
  .nav4{
    height: 50px;
   
  }
  .newcr,.holtxt,.honey{
    
    margin-left: 325px;
    margin-top: 8%;
    width: 90px;
    height: 70px;
    font-size: 50px;
    border: 2px solid;
    color: white;
    border-color: white;
    position: absolute;
    background-color: transparent;
}
.htl{
  margin-top: 84px;
  margin-left: 450px;
}
.lov{
  margin-top: 84px;
  margin-left: 570px;
}
.comp{
  margin-top: 84px;
  margin-left: 690px;
}
.tree{
  margin-top: 84px;
  margin-left: 810px;
}
.beach{
  margin-top: 84px;
  margin-left: 930px;
}
.holtxt,.city,.honey,.adv,.saf,.beach1{
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-top: 150px;
  margin-left: 340px;
  font-weight: bold;
  border: none;
}
.city{
  margin-left: 445px;
}
.honey{
  margin-left: 557px;
}
.adv{
  margin-left: 686px;
}
.saf{
  margin-left: 831px;
}
.beach1{
  margin-left: 949px;
}
.hvr:hover{
  color: aqua;
}
.client{
  margin-top: 276px;
  background-color: rgb(255, 255, 255);
  
  width: 100%;
  height: 150px;
}
.hpy{
  color: black;
}
.what{
  margin-left: 380px;
  color: black;
}
.clnt{
  width: 100%;
  height: 150px ;
  background-color: white;
  color: black;
  opacity: 79%;
}
.clnt1:hover{
  transform: scale(1.3,2);
  color: black;
  font-weight: bold;
  border: 3px solid aqua;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.clnt1{
  border: 1px solid;
  display: inline-block;
  margin-left: 83px;
  width: 330px;
  height: 90px;
 
}
.txt0{
  font-size: 10px;
}
.enm{
  color: aqua;
  font-weight: bold;
  font-size: 15px;
}
.nme{
  font-size: 15px;
  color: black;
  font-weight: bold;
}
.next1{
  background-color: darkslategray;
  display: flex;
  height: 220px;
  width: 100%;
  padding-top: 30px;
  padding-left: 150px;
}
.sltter,.news,.tags,.address{
  margin-left: 4px;
  width: 260px;
  height: 150px;
 
}
.address{
  margin-left:30px;
}
.lsttxt{
  color: aqua;


}
.noting{
  color: white;
}
.go{
  background-color: aqua;
  color: white;
}
.kk{
    display: flex;
}

.mgi{
  width: 40px;
  height: 30px;
  border: 2px solid white;
  margin-right: 7px;
}
.mm{
  display: flex;
}
.oct{
  margin-left: 47px; 
  font-size: 10px;
  color: aqua;
}
.oct1{
  margin: 0;
}
.nx{
margin-left: 1px;
}
.al{
  margin: 2px;
  background: transparent;
  color: white;
  border: 2px solid;
}
.adr{
  color: white;
}
.iconsss{
  display: flex;
}
.ic{
  margin-right: 40px;
  margin-left: 5px;
}
.final{
  height: 110px;
  width:100%;
  border: 1px solid white;
  border-left: none;
  border-right: none;
  border-bottom: non;
  background-color: darkslategray;
}
.lst4{
  color: white;
  font-weight: bold;
  margin-left: 400px;
  margin-top: 30px;
}
.cpy{
  font-size: 12px;
  color: darkcyan;
  margin-left: 550px;
}
.fnt{
  font-size: 12px;
}
.gr{
  color: aqua;
}